# General
*.log
*.tmp
*.swp
.DS_Store

# Python
__pycache__/
*.pyc
.venv/

# Node
node_modules/
dist/
build/
.turbo/
.next/
coverage/

# Poetry
.pytest_cache/
.mypy_cache/

# Env & secrets
.env
.env.*
